body{
  margin: 0;
  font-family: Montserrat, sans-serif;
  //background: #0D1D3E;
}
*{
  font-family: Montserrat, sans-serif;
}
#chat{
  border: 1px solid #CCC;
  //max-width: 500px;
  //max-height: 400px;
  overflow-y: scroll;
  background: #FFF;
  border-radius: 4px;
  .message-container{

    margin: 5px 10px 5px 10px;
    border-radius: 0 8px 8px 0;
    .message-date{
      color: #555;
      font-size: 14px;
      padding-left: 15px;
      display: inline-block;
    }
    .message-name{
      display: inline-block;
      font-size: 14px;
      color: #6C7293;
    }
    .message-content{
      border-radius: 4px;
      background: #E7F8F3;
      border: 1px solid #E7F8F3;
      padding: 5px 10px;
      margin-top: 5px;
      font-size: 15px;
      &.a{
        background: #EFF1FF;
      }
    }

  }
}
.chat-form{
  //max-width: 500px;
  #chat-input{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    height: 60px;
    border: 1px solid #ececec;
    resize: none;
    padding: 10px;
    border-radius: 4px 0 0 0 ;
    &:focus{
      //border: 1px solid #cecece !important;
      outline: none;
    }
  }
}

#message-send{
  padding: 8px 25px;
  background: #4680c2;
  color: #FFF;
  font-size: 14px;
  border: 1px solid darken(#4680c2,5);
  cursor: pointer;
  //margin-left: 20px;
  text-align: center;
  border-radius: 0px;
  &:hover{
    background: #4680c2;
    cursor: pointer;
  }
}
.text-right{
  text-align: right;
}


/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: #EEE;
  margin-right: -1px;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #253861;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #CCC;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #CCC;
}

/* Стрелки */


textarea{
  border: 1px solid #e5e5e5;
}
.textarea-box{
  background: #FFF;
  margin-top: 10px;
  //border: 1px solid #388e3c;
  //border-radius: 8px;
}
.remove-message{
  cursor: pointer;
  color: #CC0000;
}
.success-message{
  color: #1d520e;
  cursor: pointer;
}
.send-message{
  color: #5f2dab;
  cursor: pointer;
}
.nav-link{
  padding: 0.5rem 0.5rem !important;
}