body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}
* {
  font-family: Montserrat, sans-serif;
}
#chat {
  border: 1px solid #CCC;
  overflow-y: scroll;
  background: #FFF;
  border-radius: 4px;
}
#chat .message-container {
  margin: 5px 10px 5px 10px;
  border-radius: 0 8px 8px 0;
}
#chat .message-container .message-date {
  color: #555;
  font-size: 14px;
  padding-left: 15px;
  display: inline-block;
}
#chat .message-container .message-name {
  display: inline-block;
  font-size: 14px;
  color: #6C7293;
}
#chat .message-container .message-content {
  border-radius: 4px;
  background: #E7F8F3;
  border: 1px solid #E7F8F3;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 15px;
}
#chat .message-container .message-content.a {
  background: #EFF1FF;
}
.chat-form #chat-input {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  height: 60px;
  border: 1px solid #ececec;
  resize: none;
  padding: 10px;
  border-radius: 4px 0 0 0 ;
}
.chat-form #chat-input:focus {
  outline: none;
}
#message-send {
  padding: 8px 25px;
  background: #4680c2;
  color: #FFF;
  font-size: 14px;
  border: 1px solid #3b73b3;
  cursor: pointer;
  text-align: center;
  border-radius: 0px;
}
#message-send:hover {
  background: #4680c2;
  cursor: pointer;
}
.text-right {
  text-align: right;
}
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px;
  /* ширина для вертикального скролла */
  height: 4px;
  /* высота для горизонтального скролла */
  background-color: #EEE;
  margin-right: -1px;
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #253861;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #CCC;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #CCC;
}
/* Стрелки */
textarea {
  border: 1px solid #e5e5e5;
}
.textarea-box {
  background: #FFF;
  margin-top: 10px;
}
.remove-message {
  cursor: pointer;
  color: #CC0000;
}
.success-message {
  color: #1d520e;
  cursor: pointer;
}
.send-message {
  color: #5f2dab;
  cursor: pointer;
}
.nav-link {
  padding: 0.5rem 0.5rem !important;
}
/*# sourceMappingURL=common.css.map */